MONGODB_URI_PRODUCTION = mongodb+srv://usuario:contraseña@cluster0.6e8zntc.mongodb.net/nombre_de_BDD

MONGODB_URI_LOCAL=mongodb://0.0.0.0:27017/nombre_de_BDD

VITE_URL_BACKEND = http://localhost:3000/nombre_ruta a utilizar

VITE_URL_FRONTEND = http://localhost:5173/


HOST_MAILTRAP = smtp.gmail.com
PORT_MAILTRAP = 465
USER_MAILTRAP = correo_electronico_personal
PASS_MAILTRAP = codigo_de_aplicacion

JWT_SECRET = puede_ser_cualquier_cadena_de_texto

STRIPE_PRIVATE_KEY= clave_privada_de_stripe
